body {
	background-color: #1d2521; /* Base03: Dark gray-green */
	color: #d0d0d0; /* Base05: Light gray */
	font-family: "Courier New", monospace;
	margin: 0 auto;
	max-width: 800px;
	line-height: 1.6;
	padding: 20px;
	display: block;
  }
  
  h1, h2 {
	color: #7aa6da; /* Base0D: Cyan */
  }
  
  a {
	color: #89b482; /* Base0B: Green */
	text-decoration: underline;
  }
  
  a:visited {
	color: #c397d8; /* Base0E: Purple */
  }
  
  a:hover {
	color: #e78c45; /* Base09: Orange */
  }
  
  ul {
	list-style-type: square